.modal.new-message-modal
  .modal-dialog
    .modal-content
      .modal-body
        .modal-top
          .modal-img
            = image_tag 'smilies.png', class: 'modal-smile-img'
          %h2 Yey!
        .modal-custom-content
        .modal-bottom
          .principal-button.modal-button Go chatting
          %br
          .skip-link Skip
