.home-left
  .home-title-sec
    .h3 TARGET
  .profile-img
  = @user.name
  .edit-logout
    = link_to 'Edit', edit_user_registration_path, { class: 'edit-label' }
    \/
    = link_to 'Logout', destroy_user_session_path, { method: :delete, class: 'logout-label' }
  %hr

  .chats-section
  .img-footer
    = image_tag 'smilies.png', class: 'smiles-img'
.home-right
  MAPA
