// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'fonts';
body {
	font-family: 'Open Sans';
	margin: 0;
}
.left-section, .right-section {
	padding: 100px 200px 100px 200px;
  box-sizing: border-box;
  width: 50%;
  display: inline-block;
  height: 100vh;
  text-align: center;
}
.left-container {
	display: inline-block;
  text-align: center;
}

.right-section {
	float: right;
	background-color: #2fbcf7;
	height: 100vh;
}

.img-store {
	margin-bottom: 10px;
}

#error-explanation {
	color: #F00;
}

.imgs-space {
	display: inline-block;
  width: 15px;
}

.principal-label {
	display: block;
  font-size: 10px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

@media only screen and (max-width: 1450px) {
	.right-section {
      padding: 60px 60px 60px 60px;
  }
}

@media only screen and (max-width: 1300px) {
    .left-section, .right-section {
        padding: 100px 60px 100px 60px;
    }
}

@media only screen and (max-width: 1100px) {
	.right-section {
        padding: 50px 40px 50px 40px;
  }
}

@media only screen and (max-width: 800px) {
	.right-section {
		display: none;
	}

	.left-section {
		padding: 100px 160px 100px 160px;
	  width: 100%;
	  display: inline-block;
	  height: 100vh;
	  text-align: center;
	}
}

@media only screen and (max-width: 720px) {
    .left-section {
        padding: 80px 80px 20px 80px;
    }
}

@media only screen and (max-width: 650px) {
    .left-section {
        padding: 80px 40px 20px 40px;
    }
}

@media only screen and (max-width: 450px) {
	.left-section {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	h2 {
		font-size: 20px;
	}

	h3 {
		font-size: 15px;
	}

	p {
		font-size: 10px;
	}
}

@media only screen and (max-height: 800px) {
	.cel-img {
  	height: 550px;
  }

  .appstore-img {
  	height: 30px
  }

  .fb-tw-img {
  	height: 25px;
  }
}

@media only screen and (max-height: 720px) {
	.cel-img {
  	height: 450px;
  }

  .appstore-img {
  	height: 25px
  }

  .fb-tw-img {
  	height: 20px;
  }
}

@media only screen and (max-height: 550px) {
	.cel-img {
  	height: 350px;
  }

  .appstore-img {
  	height: 25px
  }

  .fb-tw-img {
  	height: 20px;
  }
}