// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'fonts';
@import 'global_values';

body {
  font-family: 'Open Sans';
  margin: 0;
}
.left-section, .right-section {
  padding: 100px 200px 100px 200px;
  box-sizing: border-box;
  width: 50%;
  display: inline-block;
  height: 100vh;
  text-align: center;
}
.left-container {
  display: inline-block;
  text-align: center;
}

.right-section {
  float: right;
  background-color: $principal-color;
  height: 100vh;
}

.img-store {
  margin-bottom: 10px;
}

#error-explanation, .error-msg {
  color: #F00;
}

.imgs-space {
  display: inline-block;
  width: 15px;
}

.principal-label {
  display: block;
  font-size: 10px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.img-smilies {
  margin-bottom: 10px;
}

.text-container p {
  margin-bottom: 0px;
}

.text-container {
  margin-bottom: 15px;
}

.principal-button {
  text-transform: uppercase;
  background-color: #000;
  color: white;
  font-size: 10px;
  font-weight: 700;
  border: none;
  margin-top: 30px;
  display: inline-block;
}

.principal-field, .principal-button {
  height: 40px;
  width: 200px;
  border: 1px solid $border-color;
}

.principal-field {
  margin: 0 0 5px 0;
  text-align: center;
  font-size: 15px;
}

.facebook-link {
  font-size: smaller;
  font-weight: 700;
  margin-top: 50px;
}

.reset-password-label {
  margin-top: 10px;
  text-transform: none;
}

hr {
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid $border-color;
}

.create-target-top, .delete-target-top, .edit-user-top {
  background: $principal-color;
  color: white;
  text-transform: uppercase;
  padding: 10px 0px 10px 0px;

  .h4 {
    margin: 0;
  }
}

.create-target-middle {
  text-align: center;
  width: 200px;
  display: inline-block;
}

.back-button {
  float: left;
  padding-left: 16px;
  cursor: pointer;
}

.create-target-icon {
  display: inline-block;
  margin-top: 30px;
}

.target-img {
  margin-bottom: 5px;
}

.create-target-form, .delete-target-form {
  display: inline-block;
  margin-top: 20px;
}

.select-topic.principal-field, .topic {
  display: inline-block;
  margin: 1;
}

.selected {
  background: #f4f4f4;
}

.topic {
  text-align: left;
  display: inline-block;
  height: auto;
}

.topic-img {
  padding-left: 5px;
  width: 20px;
}

.delete-target-form .principal-field, .principal-button {
  padding-top: 7px;
}

.principal-button {
  cursor: pointer;
}

@media only screen and (max-width: 1450px) {
  .right-section {
      padding: 60px 60px 60px 60px;
  }
}

@media only screen and (max-width: 1300px) {
  .left-section, .right-section {
      padding: 100px 60px 100px 60px;
  }
}

@media only screen and (max-width: 1100px) {
  .right-section {
    padding: 50px 40px 50px 40px;
  }
}

@media only screen and (max-width: 800px) {
  .right-section {
    display: none;
  }

  .left-section {
    padding: 100px 160px 100px 160px;
    width: 100%;
    display: inline-block;
    height: 100vh;
    text-align: center;
  }
}

@media only screen and (max-width: 720px) {
  .left-section {
      padding: 80px 80px 20px 80px;
  }
}

@media only screen and (max-width: 650px) {
  .left-section {
      padding: 80px 40px 20px 40px;
  }
}

@media only screen and (max-width: 450px) {
  .left-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  p {
    font-size: 10px;
  }

  .principal-field, .principal-button {
    height: 30px;
    width: 150px;
    font-size: x-small;
  }
}

@media only screen and (max-height: 800px) {
  .cel-img {
    height: 550px;
  }

  .appstore-img {
    height: 30px
  }

  .fb-tw-img {
    height: 25px;
  }
}

@media only screen and (max-height: 720px) {
  .cel-img {
    height: 450px;
  }

  .appstore-img {
    height: 25px
  }

  .fb-tw-img {
    height: 20px;
  }

  .facebook-link {
    margin-top: 40px;
  }
}

@media only screen and (max-height: 550px) {
  .cel-img {
    height: 350px;
  }

  .appstore-img {
    height: 25px
  }

  .fb-tw-img {
    height: 20px;
  }
}
