.new-matches-count
  %h3
    = "You have #{new_matches_count == 1 ? 'a' : new_matches_count } new #{ 'match'.pluralize(new_matches_count) }"
- if new_matches_count == 1
  .new-match-user
    %h4{ data: { match_id: match_id } }
      = new_match_with
